# Node dependencies & build outputs
node_modules/
frontend/.next/
frontend/out/

# Python virtual environment & cache
venv/
__pycache__/
*.pyc

# IDEs & System files
.vscode/
.idea/
.DS_Store

# Local environment variables
.env
.env.local

# DuckDB files
*.duckdb
*.duckdb.wal

#Data files
data/raw/